<h3 class=@Activity()>@username : @hand.cards.Count</h3>


@code {
    [Parameter]
    public Badamsat.Hand hand { get; set; }

    [Parameter]
    public bool active { get; set; }

    [Parameter]
    public string username { get; set; }

    public string Activity()
    {
        if (active)
            return "player active";
        return "player inactive";
    }
}
