<div class=@Activity()>@username : @hand.cards.Count</div>


@code {
    [Parameter]
    public Badamsat.Hand hand { get; set; }

    [Parameter]
    public bool active { get; set; }

    [Parameter]
    public string username { get; set; }

    [Parameter]
    public bool isMain { get; set; }

    public string Activity()
    {
        var rstring = "player";
        if (active)
            rstring += " active";
        if (!isMain)
            rstring += " not-main";
        return rstring;
    }
}
