@if (userID == 0)
{
    <button class="startbutton active" @onclick="ToggleShowScores">Show scores at the end : @showScores</button>
    <button class="startbutton active" @onclick="Click">Click here to start!</button>
}
else
{
    <h3>Waiting for the first player to begin the game</h3>
}
<h2>Players</h2>
@if (usernames is not null)
{
    @foreach (var username in usernames)
    {
        <div class="waitingusername">@username</div>
    }    
}


@code {
    [Parameter]
    public int userID { get; set; }

    [Parameter]
    public List<string> usernames { get; set; }

    [Parameter]
    public EventCallback e { get; set; }

    [Parameter]
    public bool showScores { get; set; }

    [Parameter]
    public EventCallback<bool> showScoresChanged { get; set; }

    public async void Click()
    {
        await e.InvokeAsync(showScores);
    }

    public async void ToggleShowScores()
    {
        showScores = !showScores;
        await showScoresChanged.InvokeAsync(showScores);
    }
}
